#
b64==0.4

#
openai>=1.54.0

# Anthropic Claude API
anthropic>=0.18.0

# Pydantic for Data Validation and Handling
pydantic[email]>=2.9.1
pydantic-settings>=2.0.0

# BeautifulSoup for HTML parsing
beautifulsoup4>=4.9.3
